*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #333;
}

@font-face {
    font-family: a;
    src: url(one.ttf);
}

.main{
    height: 100%;
    width: 100%;
}


.fir{
    text-align: center;
    margin: 10px;
    height: 30%;
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
    background: radial-gradient(circle, #0f2027, #2c5364);
}


.sec{
    text-align: center;
    margin: 10px;
    height: 30%;
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
    background:linear-gradient(green,gray)
}

h1{
    margin-top: 10px;
    font-family: a;
    font-weight: 300;
}

.thir{
    text-align: center;
    margin: 10px;
    height: 30%;
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
    background: conic-gradient(from 90deg, red, yellow, green);
}










